#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.generate-btn span {
  letter-spacing: 4px;
  transition: 0.3s;
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.generate-btn:hover span {
  color: rgb(14, 245, 14);
}

.generate-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}
.generate-btn:hover span::before,
.generate-btn:focus span::before {
  animation: chitchat linear both 2s;
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
